html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %manrope-400;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}