@media (max-width: 1330px){
  .works{
    .swiper-button-next{
      right: auto;
      left: 60px;
      top: auto;
      bottom: -70px;
    }
    .swiper-button-prev{
      left: 20px;
      bottom: -70px;
      top: auto;
    }
  }
}
@media (max-width: 1200px){
  .services{
    &__items{
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }
  .consultation{
    &__textbox{
      display: block;
      margin-bottom: 10px;
    }
    &__input{
      display: block;
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1100px){
  .main-page{
    padding-top: 120px;
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__content{
      margin-bottom: 60px;
      text-align: center;
      span{
        font-size: 52px;
      }
    }
  }
  .about{
    &__info-textbox{
      border-right: 0;
      padding-right: 0;
      flex-basis: 50%;
    }
  }
  .works{
    &__result-inner{
      display: block;
    }
    &__result{
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1000px){
  .header{
    &__btn{
      display: block;
      width: 35px;
      height: 35px;
      border: none;
      padding: 0;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      span{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        left: 0px;
        transition: all .3s;
        &:nth-child(1){
          transform: translateY(-10px);
        }
        &:nth-child(2){
          top: 52%;
          transform: translateY(-50%);
        }
        &:nth-child(3){
          transform: translateY(10px);
        }
      }
    }
    &__btn--active{
      span{
        background-color: #fff;
        &:nth-child(1){
          transform: rotate(45deg) translateY(0);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
    .header__phone{
      position: fixed;
      right: 3%;
      bottom: 2%;
      transition: .3s;
      animation: color 5s infinite linear;
      font-size: 0;
      padding: 12px 30px;
      background-image: url(../images/icons/phone.svg);
      background-position: center;
      background-repeat: no-repeat;
      @keyframes color {
        0% {
          background-color: #c471ed; }
        25% {
          background-color: #f64f59; }
        50% {
          background-color: $gradient; }
        100% {
          background-color: #c471ed; }
    }
    &:hover{
      transform: scale(1.08);
    }
  }
  .menu{
    position: fixed;
    transform: translateX(200%);
    top: 0;
    left: 0;
    padding: 70px 20px 20px 20px;
    width: 100%;
    height: 100%;
    background-color: $gradient;
    visibility: hidden;
    transition: all .5s;
    &--active{
      transform: translateX(0);
      visibility: visible;
    }
    &__list{
      display: block;
    }
    &__item{
      text-align: center;
    }
    &__item+.menu__item{
      padding-left: 0;
    }
    .menu__link{
      color: #fff;
      display: block;
      font-size: 32px;
      padding: 30px 0;
      transition: all .3s;
      &:hover{
        color: #d3e014;
      }
  }
}
}
    .consultation{
      &__content{
        max-width: 100%;
        text-align: center;
        padding-right: 0;
      }
      &__img{
        display: none;
      }
      &__btn{
        display: block;
        margin: 0 auto;
      }
    }
}

@media (max-width: 768px){
  .footer-top{
    &__inner{
      flex-wrap: wrap;
      gap: 50px;
    }
    &__item{
      &:first-child{
        flex: 0 1 100%;
      }
    }
  }
}
@media (max-width: 620px){
  .header{
    .logo{
      img{
        width: 190px;
      }
    }
  }
  .main-page{
    padding-top: 80px;
    &__title{
      font-size: 36px;
      span{
        font-size: 40px;
      }
    }
    &__subtitle{
      margin-bottom: 20px;
    }
    &__img{
      display: none;
    }
    &__links{
      justify-content: center;
    }
  }
  .about{
    margin-top: 30px;
    &__inner{
      padding: 40px;
    }
    &__title{
      margin-bottom: 15px;
    }
    &__info-textbox{
      flex-basis: 100%;
      margin-bottom: 10px;
    }
    &__info-title{
      font-size: 36px;
      line-height: 40px;
    }
  }
  .services{
    &__title{
      margin-bottom: 25px;
    }
  }
  .works{
    padding: 50px 0;
    &__item{
      max-width: 100%;
    }
    &__system-links{
      display: block;
      padding-bottom: 5px;
    }
    &__system-link{
      display: block;
      margin-bottom: 10px;
    }
    .swiper-button-next,
    .swiper-button-prev{
      display: none;
    }
}
}
@media (max-width: 480px){
  .header{
    &__btn{
      width: 30px;
      height: 30px;
    }
    .header__phone{
      padding: 10px 25px;
    }
    .menu{
      padding-top: 50px;
    .menu__link{
      font-size: 22px;
    }
    }
  }
  .main-page{
    &__title{
      font-size: 28px;
      span{
        font-size: 32px;
      }
    }
  }
  .about{
    &__inner{
      padding: 35px;
    }
    &__title{
      font-size: 28px;
    }
    &__info-title{
      font-size: 28px;
      line-height: 36px;
    }
  }
  .works{
    &__item{
      box-shadow: none;
    }
    &__results-title,
    &__result-title,
    &__system-title{
      font-size: 16px;
    }
    &__result-text,
    &__text{
      font-size: 14px;
    }
  }
}