$default: #333;
$btn: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);

%manrope-400{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
%manrope-500{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
%manrope-600{
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}