@import "vars";
@import "fonts";
@import "reset";
// @import "libs";
@import "global";


.header{
  padding: 15px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__phone{
    @extend %btn;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__item{
    @extend %manrope-500;
    line-height: 24px;
    & + .menu__item{
      padding-left: 30px;
    }
  }
}
.footer-top{
  padding: 50px 0 70px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 325px;
  }
  .footer-top__privacy{
    display: block;
    margin-bottom: 22px;
    padding-left: 12px;
    line-height: 24px;
    transition: all .3s;
    &:hover{
      text-decoration: underline;
    }
  }
  .footer-top__contact{
    @extend %btn;
    display: inline-block;
    margin-left: 12px;
  }
  &__item-title{
    @extend %manrope-600;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
  }
  &__item-list{
    line-height: 36px;
  }
}
.footer-copy{
  background-color: #2D2D2D;
  color: #fff;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}